.header {
  padding-top: rem(20);
  z-index: 10;

  @include media('<=sm') {
    padding-top: 0;
  }

  .container {
    align-items: center;
    display: flex;

    @include media('>sm') {
      justify-content: space-between;
    }

    @include media('<=sm') {
      justify-content: space-between;
      min-height: rem(72);
    }
  }

  &-logo {
    display: block;

    @include media('<=sm') {
      width: 80%;
    }

    &__img {
      min-height: rem(13);

      @include media('<=sm') {
        width: 100%;
      }
    }
  }

  &-phone {
    align-items: center;
    display: none;

    &__btn {
      background: var(--color-red);
      border-radius: 50%;
      box-shadow: 0px 10px 30px 0px rgba(253, 25, 12, 0.4);
      height: rem(36);
      margin-right: rem(11);
      position: relative;
      width: rem(36);

      &-icon {
        fill: var(--color-white);
        height: rem(13);
        position: absolute;
        width: rem(13);

        @extend %abs-center-all;
      }
    }

    &__text {
      font: {
        size: rem(22);
        weight: 700;
      }

      @include media('<=sm') {
        font-size: rem(26);
      }
    }
  }

  &-steps {
    display: flex;
  }

  &-step {
    align-items: center;
    display: flex;
    flex-direction: column;
    opacity: 0.5;

    &:not(:last-child) {
      margin-right: rem(50);
    }

    &.is-active {
      opacity: 1;
    }

    &.is-completed {
      border-color: var(--color-yellow);
      color: var(--color-yellow);
      opacity: 1;
    }

    &.is-completed &__num {
      background-color: rgb(255, 200, 39);
      box-shadow: 0px 15px 40px 0px rgba(199, 156, 32, 0.25),inset 0px 2px 10px 0px rgba(255, 255, 255, 0.7);
      color: var(--color-dark-grey);
    }

    &__num {
      align-items: center;
      border: rem(1) solid;
      border-color: inherit;
      border-radius: 50%;
      display: inline-flex;
      font-weight: 800;
      justify-content: center;
      margin-bottom: rem(10);
      max-height: rem(35);
      max-width: rem(35);
      min-height: rem(35);
      min-width: rem(35);
    }

    &__text {
      font-size: rem(14);
    }
  }

  &-cart {
    @include media('>sm') {
      padding-bottom: rem(20);
      position: relative;
      top: rem(10);

      // &:hover .mini-cart {
      //   transform: scaleY(1);
      // }

      &:hover &__icon {
        opacity: 1;
        transform: translateX(0);
      }

      &:hover &__count {
        opacity: 0;
        transform: translateX(rem(-15));
      }
    }

    @include media('<=sm') {
      position: fixed;
      bottom: 10vh;
      right: rem(25);
      z-index: 10;
    }

    &__btn {
      align-items: center;
      background-color: var(--color-yellow);
      border-radius: rem(50);
      box-shadow: 0px 25px 60px 0px rgba(199, 156, 32, 0.25), inset 0px 2px 10px 0px rgba(255, 255, 255, 0.7);
      color: var(--color-dark-grey);
      display: inline-flex;
      font: {
        size: rem(20);
        weight: 500;
      }
      padding: rem(10) rem(20);
      position: relative;

      @include media('<=sm') {
        border-radius: 50%;
        padding: rem(20);
        position: relative;

        &.is-empty {
          visibility: hidden;
        }
      }

      &:hover {
        background-color: rgb(255, 210, 77);
        box-shadow: 0px 30px 60px 0px rgba(199, 156, 32, 0.3),inset 0px 2px 10px 0px rgba(255, 255, 255, 0.7);
        transition: all 0.05s;
      }

      &:active {
        background-color: var(--color-yellow);
        box-shadow: none;
      }
    }

    &__text {
      @include media('<=sm') {
        display: none;
      }
    }

    &__count {
      align-items: center;
      display: inline-flex;
      font: {
        size: rem(22);
        weight: 700;
      }
      justify-content: center;

      @include media('>sm') {
        min-height: rem(30);
        min-width: rem(30);
        transition: all 0.25s;
      }

      @include media('<=sm') {
        background-color: var(--color-red);
        border-radius: 50%;
        bottom: 0;
        color: var(--color-white);
        font-weight: 700;
        max-height: rem(25);
        max-width: rem(25);
        min-height: rem(25);
        min-width: rem(25);
        position: absolute;
        right: 0;
      }
    }

    .separator {
      background-color: var(--color-dark-grey);
      height: rem(20);
      margin: 0 rem(15);
      width: rem(1);

      @include media('<=sm') {
        display: none;
      }
    }

    &__icon {
      @include media('>sm') {
        max-height: rem(30);
        max-width: rem(30);
        min-height: rem(30);
        min-width: rem(30);
        opacity: 0;
        position: absolute;
        right: rem(20);
        transform: translateX(rem(-15));
        transition: all 0.25s;
      }

      @include media('<=sm') {
        max-height: rem(50);
        max-width: rem(50);
        min-height: rem(50);
        min-width: rem(50);
      }
    }
  }

  &-about {
    display: flex;
    flex-direction: column;

    @include media('>sm') {
      align-items: flex-start;
      z-index: 11;

      &__promises:hover &__popup-window {
        opacity: 1;
        visibility: visible;
      }
    }

    @include media('<=sm') {
      border-bottom: rem(1) solid rgba(#fff, 0.15);
      margin-bottom: rem(20);
      padding-bottom: rem(20);
      z-index: 3;
    }

    &__slogan {
      align-items: center;
      display: flex;
      font: {
        size: rem(18);
        weight: 500;
      }
      letter-spacing: 0.03em;

      @include media('<=sm') {
        border-bottom: rem(1) solid rgba(#fff, 0.15);
        font: {
          size: rem(23);
          weight: 400;
        }
        margin-bottom: rem(20);
        padding-bottom: rem(25);
      }

      & > p {
        opacity: 0.8;
      }
    }

    &__promises {
      align-items: center;
      display: flex;
    }

    &__switch {
      align-items: center;
      display: none;
      margin-left: rem(10);
      position: relative;
      user-select: none;

      &:hover::before {
        text-decoration: underline;
      }

      &::before {
        font: {
          size: rem(14);
          weight: 400;
        }
        left: rem(28);
        opacity: 0.3;
        top: calc(100% + #{rem(3)});
        @include pseudo('Изменить');
      }

      a {
        color: var(--color-yellow);
        display: block;
        font-weight: 700;
        min-width: rem(100);
        transition: all 0.25s;

        @include media('<=sm') {
          min-width: rem(125);
        }

        &:first-of-type {
          position: absolute;
          right: 0;
        }

        &:not(.is-active) {
          opacity: 0;
          transform: translateY(-50%);
        }
      }

      &-icon {
        // display: none;
        fill: var(--color-yellow);
        margin-right: rem(3);
        max-height: rem(25);
        max-width: rem(25);

        &:hover {
          cursor: pointer;
        }
      }
    }

    &__time, &__rating {
      align-items: center;
      display: inline-flex;
      font: {
        size: rem(18);
        weight: 500;
      }
      letter-spacing: 0.03em;
      line-height: 1.2;

      @include media('<=sm') {
        font: {
          size: rem(23);
          weight: 400;
        }
      }
    }

    &__rating svg {
      margin-left: rem(5);
      max-height: rem(15);
      max-width: rem(15);

      @include media('>sm') {
        &:nth-of-type(n+2) {
          display: none;
        }
      }

      @include media('<=sm') {
        max-height: rem(23);
        max-width: rem(23);
      }
    }

    &__popup {
      align-self: stretch;
      position: relative;

      &-dot {
        background-color: var(--color-white);
        border-radius: 50%;
        display: block;
        min-height: rem(4);
        margin: 50% rem(10);
        position: relative;
        min-width: rem(4);
      }

      &-window {
        background-color: var(--color-dark-blue);
        border-radius: rem(8);
        box-shadow: 0 0 rem(10) rgba(#fff, 0.05);
        display: flex;
        justify-content: space-between;
        left: 50%;
        margin-top: rem(15);
        opacity: 0;
        padding: rem(20);
        position: absolute;
        white-space: nowrap;
        transform: translateX(-50%);
        transition: all 0.25s;
        visibility: hidden;

        @include media('<=sm') {
          background-color: var(--color-dark-grey);
        }

        &::before {
          bottom: 100%;
          border-style: solid;
          border-width: 0 rem(10) rem(15) rem(10);
          border-color: transparent transparent var(--color-dark-blue) transparent;
          height: 0;
          left: 50%;
          position: absolute;
          transform: translateX(-50%);
          width: 0;
          @include pseudo;

          @include media('<=sm') {
            border-color: transparent transparent var(--color-dark-grey) transparent;
          }
        }

        .col {
          &:not(:last-child) {
            margin-right: rem(30);
          }
        }

        .title {
          align-items: center;
          display: inline-flex;
          font: {
            size: rem(26);
            weight: 700;
          }
          letter-spacing: 0.03em;
          margin-bottom: rem(5);

          &_yellow {
            color: var(--color-yellow);
          }
        }

        .subtitle {
          font: {
            size: rem(17);
            weight: 500;
          }
          letter-spacing: 0.03em;

          &:not(:last-of-type) {
            margin-bottom: rem(3);
          }

          &_semi-transparent {
            opacity: 0.8;
          }
        }


        .rate-star {
          max-height: rem(15);
          max-width: rem(15);

          &:first-of-type {
            margin: {
              left: rem(5);
              right: rem(3);
            }
          }

          &:not(:last-of-type) {
            margin-right: rem(3);
          }
        }
      }
    }
  }

  &-toggler {
    @include media('>sm') {
      display: none;
    }

    &.is-active {
      position: fixed;
      right: rem(10);
      top: rem(0);
      z-index: 12;
    }

    svg {
      min-width: rem(70);
      max-width: rem(70);

      path {
        stroke: var(--color-white);
      }
    }
  }

  &_column-direction {
    @include media('<=sm') {
      padding-top: rem(30);

      .container {
        flex-direction: column;
      }

      .header-logo {
        margin-bottom: rem(20);
      }
    }
  }
}

.mobile-nav {
  display: flex;
  opacity: 1;
  transition: all 0.25s;
  visibility: visible;
  z-index: 11;

  @include media('>sm') {
    align-items: center;
    flex-grow: 0.6;
    justify-content: space-between;
  }

  @include media('<=sm') {
    align-items: stretch;
    background-color: var(--color-dark-blue);
    flex-direction: column;
    height: 100vh;
    left: 0;
    padding: rem(25);
    position: fixed;
    top: 0;
    width: 100vw;
  }

  &:not(.is-active) {
    opacity: 0;
    transform: translateY(rem(-15));
    visibility: hidden;
  }

  &__logo {
    border-bottom: rem(1) solid rgba(#fff, 0.15);
    margin-bottom: rem(20);
    padding-bottom: rem(20);

    @include media('>sm') {
      display: none;
    }

    img {
      height: auto;
      width: 75%;
    }
  }

  &__menu {
    border-bottom: rem(1) solid rgba(#fff, 0.15);
    margin-bottom: rem(20);
    padding-bottom: rem(20);

    @include media('>sm') {
      display: none;
    }

    &-item:not(:last-child) {
      margin-bottom: rem(25);
    }

    a {
      font: {
        size: rem(30);
        // weight: 500;
      }
    }
  }
}
